.inner-container{
    padding: 20px;
    margin: 5%;
    border: solid 2px rgb(70, 153, 70);
    text-align: center;

}
.container{
    border: dotted 2px brown;
    
}

p{
    font-style: italic;
    font-weight: bold;
}